html,body {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-family: sans-serif;
	line-height: 1.25em;
}
#graph-container, #map-container {
	position: absolute;
	top: 15px;
	bottom: 15px;
	right: 15px;
	left: 276px;
}

#map-container {
	transition: visibility 0.3s, opacity 0.3s linear;
	background-color: #FFF;
}

.leaflet-control-attribution {
	display:none;
}

#main-panel {
  margin-top: 50px;
  margin-left: 25px;
  background: #fff;
  background-color: rgba(255,255,255,0.8);
  z-index: 20;
  position: fixed;
  top: 0;
  width: 240px;
  padding: 18px 18px 18px 18px;
  margin: 0;
}
.btn {
  padding: 5px 10px;
  margin: 10px 0px 0px 20px;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #009;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  background-color: #ddd;
}
.btn:active {
  background-color: #ccc;
}
#instruc, #question, #finished, #intro {
  display:none;
}
#question-var {
  font-weight: 900;
  padding: 10px 0px 0px 20px;
}
#timer {
  margin-top: 20px; 
  height: 10px;
  width: 202px;
  border: 1px solid #000;
}
#elapsed {
  height: 100%;
  width: 0%;
  background-color: #bbb;
}
#mask {
  position: absolute;
  display: none;
  z-index: 100;
  padding-top: 100px;
  text-align: center;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(255,255,255,0.8);
  font-size: 24px;
}

#intro2 {
	position: absolute;
	left: 350px;
	top: 50px;
	max-width: 1500px;
	margin-right: 50px;
}

#intro2 h1 {
	font-size: 24px;
	clear: both;
	margin-top: 50px;
	margin-bottom: 10px;
}

#intro2 div {
	float: left;
}

#intro2 div.col2 {
	max-width: 900px;
	margin-right: 15px;
}

#intro2 div.col1 {
	width: 30%;
	margin-right: 15px;
}

#mobilewarning {
	display: none;
}

#color_legend {
	position: absolute;
	width: 25%;
	max-width:500px;
	min-width: 250px;
	height: 200px;
	left: 10px;
	bottom: 200px;
	font-size: 12pt;
	font-weight: bold;
	display: none;
}

#color_legend ul {
	list-style: none;
	padding-top: 0;
}

#color_legend li {
	padding-top: 5px;
}

#color_legend h1 {
	font-size: 14pt;
	padding-left: 15px;
}

.color-block {
	display: block;
	float: left;
	width: 15px;
	height: 15px;
}

@media only screen and (max-width: 1000px) {
	#mobilewarning {
		display: block;
		width: 100%;
		margin: 10px;
		padding: 10px;
		background-color: #D00;
	}
}

/*For postq*/
#postq {
	display: none;
	position: absolute;
	left:0;
	top:0;
	padding: 20px;
	z-index: 101;
	background-color: #FFF;
}

#postq dl {
	margin-left: 15px;
}
#postq dt {
	margin-top: 30px;
	margin-bottom: 10px;
}

#postq a.reset {
	display: none;
}

#postq a.selected, :checked+span {
	font-weight: bold;
	color: #009900;
}

#postq input:valid[type=text], input:valid[type=number] {
	outline: #009900 solid thin;
}
