* {
  padding: 0px;
  margin: 0px;
  cursor: default;
}
html,body {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-family: sans-serif;
	line-height: 1.25em;
}
#graph-container {
	width: 100%;
	height: 100%;
	background-color: #fff;
}
#main-panel {
  margin-top: 50px;
  margin-left: 25px;
  background: #fff;
  background-color: rgba(255,255,255,0.8);
  z-index: 20;
  position: fixed;
  top: 0;
  width: 240px;
  padding: 18px 18px 18px 18px;
  margin: 0;
}
.btn {
  padding: 5px 10px;
  margin: 10px 0px 0px 20px;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #009;
  border-radius: 5px;
  text-align: center;
}
.btn:hover {
  background-color: #ddd;
}
.btn:active {
  background-color: #ccc;
}
#instruc, #question, #finished {
  display:none;
}
#question-var {
  font-weight: 900;
  padding: 10px 0px 0px 20px;
}
#timer {
  margin-top: 20px; 
  height: 10px;
  width: 202px;
  border: 1px solid #000;
}
#elapsed {
  height: 100%;
  width: 0%;
  background-color: #bbb;
}
path {
  stroke-width: 500;
  stroke: #000;
  background-color: #bbb;
  fill: #bbb;
}
path:hover {
  cursor: pointer;
}
#map-hover {
  width: 100px;
  position: absolute;
  font-weight: 900;
  pointer-events: none;
}
#mask {
  position: absolute;
  display: none;
  z-index: 100;
  padding-top: 100px;
  text-align: center;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  font-size: 24px;
}








